<section class="container mt-5">
    <div class="row">
      <!-- Imagen del producto -->
      <div class="col-md-8">
        <img [src]="baseUrl + product.image" alt="Batidor Eléctrico Manual" class="img-fluid product-image">
      </div>
      <!-- Información del producto y descripción -->
      <div class="col-md-4">
        <div class="product-info">
          <h2 class="mb-3">{{product.name}}</h2>
          <h1 class="card-title pricing-card-title">${{product.price}}</h1>
          <button type="button" class="w-100 btn btn-lg btn-outline-secondary rounded-pill  mt-5 mb-2">Agregar Carrito</button>
          <p class="mb-3"></p>
          <p class="mb-3"></p>
          <figcaption class="blockquote-footer">
            <p>Envíos a todo el País.</p>
          </figcaption>
          <figcaption class="blockquote-footer">
            <p>Compra segura.</p>
          </figcaption>
          <figcaption class="blockquote-footer">
            <p>Pago por transferencia o efectivo en el local.</p>
          </figcaption>
        
        </div>
        <div class="card mb-4 rounded-3 shadow-sm mt-4">
            
            <div class="card-body">
              <h3 class="card-title pricing-card-title">Descripción</h3>
              <p>{{product.description}}</p>
            </div>
          </div>
      </div>
    </div>
  </section>