.product-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .product-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    .product-info {
      margin-top: 20px;
    }
  }
  .btn-custom{
    background-color: #1C2F33;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; /* Agregar transición */
}

.btn-custom:hover{
    background-color:#131f22;;
    color: #ffffff;
}  