
<header class="py-3 border-bottom bg-body-tertiary navbar fixed-top d-none d-lg-block d-md-block d-sm-none shadow" >
  <div class="container d-flex flex-wrap justify-content-center align-items-center ">
      <a href="/home" class="d-flex align-items-center link-body-emphasis text-decoration-none">
          <img src="../assets/logo.png" alt="" width="44px">
      </a>

     <a class="navbar-brand" href="/home">Griiin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="searchProductsByCategory('')" style="cursor: pointer;">Todas las categorias</a>
          </li>
          <li class="nav-item" *ngFor="let item of categories">
            <a class="nav-link" (click)="searchProductsByCategory(item.name)" style="cursor: pointer;">{{item.name}}</a>
          </li>
          
        </ul>
      </div>

      
      <form class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-2 m-2" (submit)="onSearch()">
          <div class="row align-items-center">

              <div class="input-group mt-1">
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 col-7">
                  <div class="input-group">
                    <input type="search" class="form-control me-2"  placeholder="Buscar..." aria-label="Search" [(ngModel)]="searchName" name="search" >
                    <button class="btn btn-custom " type="submit"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>
                    </button>
                </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 col-5">
                  <div class="input-group ms-4">
                        <a style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); --bs-link-hover-color-rgb: 25, 135, 84;" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-2 icon-link-hover " type="submit" data-bs-toggle="modal" data-bs-target="#loginUser">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                          </svg>
                        </a>
                        <span class="divider"></span>
                        <a style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); --bs-link-hover-color-rgb: 25, 135, 84;" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-2 icon-link-hover" data-bs-toggle="modal" data-bs-target="#shop-cart">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                          </svg>
                        </a>
                  </div>
              </div>
              </div>
          </div>
      </form>
  </div>
</header>



  <main class="d-block d-lg-none d-md-none d-sm-block ">
  <nav class="py-3 border-bottom bg-body-tertiary navbar fixed-top shadow">
    <div class="container d-flex flex-wrap justify-content-center">
      <a class="navbar-brand" href="/home">
        <img src="../assets/logo.png" alt="" width="44px" class="d-block d-lg-none d-md-none d-sm-block ">
      </a>
      <div class="col-10 col-lg-9 d-flex justify-content-end">
        <!-- Botón del toggler -->
        <strong class="p-2">MENU</strong>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- 
            <div class="btn-group flex-grow-1 d-none d-lg-block d-md-block d-sm-none ">
              <button class="btn rounded-pill px-3  btn-custom dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
              </button>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item "  href="/product">Todas las Categorias</a></li>
                  <li><a class="dropdown-item" href="#">Batidora</a></li>
                  <li><a class="dropdown-item" href="#">Cafetera</a></li>
                  <li><a class="dropdown-item" href="#">Freidora</a></li>
                  <li><a class="dropdown-item" href="#">Pavas</a></li>
                  <li><a class="dropdown-item" href="#">Termos</a></li>
              </ul>
            </div>  -->
           <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="searchProductsByCategory('')">Todas las Categorias</a>
          </li>
          <li class="nav-item" *ngFor="let item of categories">
            <a class="nav-link" (click)="searchProductsByCategory(item.name)" style="cursor: pointer;" >{{item.name}}</a>
          </li>
        </ul>
        
        <form class="d-block d-lg-none d-md-none d-sm-block " role="search" (submit)="onSearch()">
          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-12">
            <div class="row">
              <div class="col-8">
                  <div class="input-group">
                    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" [(ngModel)]="searchName" name="searchMobile" >
                    <button class="btn btn-custom" type="submit"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>
                    </button>
                  </div>
              </div>
              <div class="col-4">
                <div class="input-group">
                  <a style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); --bs-link-hover-color-rgb: 25, 135, 84;" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-2 icon-link-hover " type="submit" data-bs-toggle="modal" data-bs-target="#loginUser">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                  </a>
                  <span class="divider"></span>
                  <a style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); --bs-link-hover-color-rgb: 25, 135, 84;" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-2 icon-link-hover" data-bs-toggle="modal" data-bs-target="#shop-cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                  </a>
                </div>
              </div>

              
            </div>
            
          </div>
        </form>
        
      </div>
    </div>
  </nav>
</main>



<div class="modal fade" id="loginUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Inicia Sesion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <form class="">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-pill btn-outline-success" type="submit">Iniciar Sesion</button>
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          <button class="w-100 py-2 mb-2 btn btn-dark rounded-pill" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"/></svg>
            Sign up with Twitter
          </button>
          <button class="w-100 py-2 mb-2 btn btn-primary rounded-pill" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>
            Sign up with Facebook
          </button>
          <button class="w-100 py-2 mb-2 btn btn-danger rounded-pill" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"/></svg>
            Sign up with Google
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal Cart-->
<div class="modal left fade" id="shop-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Carrito de Compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div *ngFor="let item of cartItems; let i = index" class="cart-item">
            <!-- Primera parte: Imagen y detalles del producto -->
            <div class="row align-items-center">
              <div class="col-md-4">
                <div class="product-image">
                  <img src="https://via.placeholder.com/50" alt="{{ item.name }}" class="img-thumbnail">
                </div>
              </div>
              <div class="col-md-6">
                <div class="product-details">
                  <h5>{{ item.name }}</h5>
                 
                  <p>${{ item.price }} x {{ item.quantity }}</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="text-end">
                  <a class="btn btn-danger btn-sm rounded-pill" (click)="removeFromCart(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          
            <!-- Segunda parte: Controles de cantidad -->
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3 btn-group-sm" role="group" aria-label="Small button group">
                  <button class="btn btn-outline-dark" type="button" (click)="decrementQuantity(i)">-</button>
                  <input type="text" class="form-control text-center" [(ngModel)]="item.quantity" readonly>
                  <button class="btn btn-outline-dark" type="button" (click)="increaseQuantity(i)">+</button>
                </div>
              </div>
            </div>
          </div>
        
      

      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="checkout()">Comprar</button>
        <button class="btn btn-danger" (click)="clearCart()">Limpiar Carrito</button>
      </div>
    </div>
  </div>
</div>


<!--
<div class="col-lg-8 col-md-10 col-sm-6 col-xs-6 col-7">
                  <input type="search" [(ngModel)]="searchName" name="search" class="form-control rounded-pill" placeholder="Buscar productos..." aria-label="Search">
              </div>
              
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-5">
                  <div class="input-group">
                        <button class="btn rounded-pill px-2 flex-grow-1 btn-custom" type="submit">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                          </svg> Buscar
                        </button>
                        <a style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); --bs-link-hover-color-rgb: 25, 135, 84;" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-2 icon-link-hover " type="submit" data-bs-toggle="modal" data-bs-target="#loginUser">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                          </svg>
                        </a>
                        <span class="divider"></span>
                        <a style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); --bs-link-hover-color-rgb: 25, 135, 84;" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-2 icon-link-hover" data-bs-toggle="modal" data-bs-target="#shop-cart">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                          </svg>
                        </a>
                        
                  </div>
                 
              </div>
-->

