.btn-custom{
    background-color: rgb(63, 126, 22);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; /* Agregar transición */
}

.btn-custom:hover{
    background-color: rgb(53, 107, 17);;
    color: #ffffff;
}

.navbar-custom {
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la parte inferior */
  }
.divider {
    position: relative;
    width: 1px; /* Ancho de la barra divisoria */
    height: 40px; /* Altura de la barra divisoria */
    background-color: #ccc; /* Color de la barra divisoria */
    margin: 0 10px 0 10px; /* Espacio entre la barra y los botones */
  }
  
.divider::before {
    content: "";
    position: absolute;
    top: -15px; /* Ajusta la posición verticalmente según el diseño deseado */
    left: 0;
    width: 100%;
    height: calc(100% + 10px); /* Ajusta la altura para cubrir el área completa entre los botones */
    background-color: transparent; /* Color del fondo detrás de la barra */
  }
/*shopping cart*/
.modal.left .modal-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 300px; /* Ajusta el ancho según tus necesidades */
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal-backdrop {
  opacity: 0.5;
}

.modal-header, .modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-body {
  padding: 15px;
}
/*detro del modal*/
.cart-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}



