.img-banner{
    object-fit: cover;
}

.banner-link {
    display: block;
    position: relative;
    color: inherit;
    text-decoration: none;
  }
.banner-link img {
    width: 100%;
    height: auto;
  }
.banner-logo-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
  }
.banner-logo-text .logo {
    max-width: 100px;
    margin-bottom: 25px;
  }
.banner-logo-text .primary-title, 
.banner-logo-text .secondary-title {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
    }
.banner-logo-text .action-button {
    margin-top: 10px;
    background-color: #00A650;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

/*V3*/
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
/*slider logos*/
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* Estilos para el slider de cards de productos */
.card-productos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
}

.card-carousel {
  display: flex;
  overflow-x: visible;
  
}

.card-slide {
  display: flex;
  animation: slide 20s infinite linear;
}
.card-carousel:hover .card-slide {
  animation-play-state: paused;
}


.card {
  width: 300px; /* Ancho de cada card */
  margin: 0 10px; /* Espacio entre las cards */
  transition: transform 0.3s ease; /* Transición para el efecto de zoom */
}

.card:hover {
  transform: scale(1.05); /* Efecto de zoom al hacer hover */
}

.card img {
  height: 150px; /* Altura de la imagen de la card */
}

@keyframes slides {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-100% * 1)); /* Ajusta según la cantidad de cards en una sección */
  }
}



