
<body class="bg-body-custom vh-100 d-flex justify-content-center align-items-center">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">¡Bienvenido al Panel de Control!</h1>
            <p class="col-lg-10 fs-4">Aquí podrás gestionar tus productos de manera eficiente y optimizar tus publicaciones para mejorar la experiencia de los usuarios.</p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            
            <form class="p-4 p-md-5 border rounded-3 bg-custom" action="#">
              <div class="text-center form-floating mb-3">
                <a href="/admin" class=" text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      </svg>
                 </a>  
              </div>   
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="username" [(ngModel)]="creds.username" placeholder="name@example.com">
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" [(ngModel)]="creds.password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>

              <!-- Mostrar el botón de inicio de sesión con animación de carga -->
              <button class="w-100 btn btn-lg btn-success rounded-pill" type="submit" (click)="onLogin()" [disabled]="loading">
                @if(loading){
                  <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                  <span role="status">Espere unos segundos...</span>
                 }
                 @if(!loading){
                  <span>Acceder</span>
                 }
                
              </button>
              @if(errorMessage){ 
                <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                  </svg>
                  <div class="m-1">
                    {{ messageContent }}
                  </div>
                </div>
              }
              @if(successMessage){ 
                <div class="alert alert-success d-flex align-items-center mt-3" role="alert">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                  <div class="m-1">
                    {{ messageContent }}
                  </div>
                </div>
              }
              
              <hr class="my-4">
              <small class="text-body-secondary">Desarrollo y Diseño by <a href="https://natanael-lima.github.io/" class="text-secodary text-decoration-none">Natanael Lima</a> E-commerce © 2024</small>
            </form>
          </div>
        </div>
      </div> 
</body>
